@import 'tailwindcss';
@config "../../tailwind.config.js";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-primary;
}

.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Scroll Bar */

::-webkit-scrollbar {
  display: none;
}

.scroll-bar {
  --p: 0%;
  position: fixed;
  width: 7px;
  height: 7px;
  right: 0;
  top: 0;
  background: #38bdf8;
  border-radius: 50%;
}

.scroll-bar::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 7px;
  height: var(--p);
  background: linear-gradient(0deg, #38bdf8, transparent);
}

.heading {
  color: hsl(196, 100%, 56%);
  text-decoration: underline;
  margin-bottom: 0.9rem;
}

@media screen and (max-width: 700px) {
  .scroll-bar {
    display: none;
  }
}
